@model fileUpload_mvc.Models.uploadfile

@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detay</h2>

<fieldset>
    <legend>uploadfile</legend>

    <div class="display-label">dosyaAdi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dosyaAdi)
    </div>

    <div class="display-label">dosyaUzanti</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dosyaUzanti)
    </div>

    <div class="display-label">dosyaTur</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dosyaTur)
    </div>

    <div class="display-label">dosyaBoyutu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dosyaBoyutu)
    </div>

    <div class="display-label">aciklama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aciklama)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.dosyaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
