@model IEnumerable<fileUpload_mvc.Models.uploadfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            dosyaAdi
        </th>
        <th>
            dosyaUzanti
        </th>
        <th>
            dosyaTur
        </th>
        <th>
            dosyaBoyutu
        </th>
        <th>
            aciklama
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dosyaAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dosyaUzanti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dosyaTur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dosyaBoyutu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aciklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dosyaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.dosyaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dosyaId })
        </td>
    </tr>
}

</table>
