@model fileUpload_mvc.Models.ResimYukle

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>uploadfile</legend>

    <div class="display-label"> Resim Adı</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resimAdi)
    </div>

    <div class="display-label"> Resim Uzantısı</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resimUzanti)
    </div>

    <div class="display-label"> Resim Türü</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resimTuru)
    </div>

    <div class="display-label"> Resim Boyutu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resimBoyutu)
    </div>

    <div class="display-label"> Resim Açıklama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.resimAciklama)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Sil" /> |
        @Html.ActionLink("Ana Sayfa", "Index")
    </p>
}
